{
  "root": true,
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "es2022": true
  }
}
