@import 'normalize.css';

@import './styling/fonts/BebasNeue/400.css';
@import './styling/fonts/BebasNeue/700.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #151517;
  color: white;
}

p {
  margin: 0;
  line-height: 1.5;
}

header {
  width: 100%;
  background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
      paint-order: stroke fill;
    }
    }
  }


}



  }
}


  display: flex;

  > iframe {
    aspect-ratio: 16 / 9;
  }

  }

    }
  }
}

}

footer {
  background-color: #2a2a2a;
  margin: 5rem 0 0 0;

  > .links {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > p {
        font-size: 1.25rem;
        font-weight: 600;
      }

      > div a {
        display: flex;
        align-items: center;
        align-content: center;

        > p {
          padding: 0;
          margin: 0;
          margin-left: 0.75rem;
          align-self: center;
        }
      }
    }
  }
}

h1 {
  font-family: 'Bebas Neue Momentum', sans-serif;
  font-size: 30pt;
}

h2 {
  font-family: 'Bebas Neue Momentum', sans-serif;
  font-weight: 500;
  font-size: 25pt;
}

a {
  color: inherit;
  text-decoration: inherit;
}

}
