@import 'normalize.css';

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue-Thin.woff') format('woff');
  font-weight: thin;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue-Light.woff') format('woff');
  font-weight: light;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue-Book.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue-Bold.woff') format('woff');
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #151517;
  color: white;
}

p {
  margin: 0;
  line-height: 1.5;
}

header {
  width: 100%;
  height: 700px;
  background-image: url('./images/BGLight.png');
  background-size: cover;

  > .hero {
    padding: 14rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h2 {
      -webkit-text-stroke: 7px #202020;
      paint-order: stroke fill;
    }
    > div a {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: 300;
      font-size: 25pt;
      border-radius: 5px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
  }
}

.buttonPlayNow {
  background: linear-gradient(#33b4f2, #1457cc);
  text-shadow: 1px 1px 5px black;
  transition: 0.2s;
}

.buttonPlayNow:hover {
  background: linear-gradient(#278ebe, #0a3c91);
}

.buttonDashboard {
  background: linear-gradient(#032736, #000000);
  text-shadow: 1px 1px 5px black;
}

.buttonDashboard:hover {
  background: linear-gradient(#064864, #03122c);
}

main {
  @media screen {
    margin: 0 auto;
    max-width: 1280px;
  }
}

section {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

section#whatismomentum {
  width: 100%;
  display: flex;
  gap: 4rem;

  > iframe {
    width: 60%;
    aspect-ratio: 16 / 9;
  }

  > div {
    width: 40%;
  }
}

section#gamemodes {
  > .icons {
    > img {
      height: 4.5rem;
      max-width: 4.5rem;
    }
  }
}

section#gamemodes > .icons > img {
  height: 4.5rem;
  max-width: 4.5rem;
}

footer {
  background-color: #2a2a2a;
  margin: 5rem 0 0 0;

  > .links {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      > p {
        font-size: 1.25rem;
        font-weight: 600;
      }

      > div a {
        display: flex;
        align-items: center;
        align-content: center;

        > p {
          padding: 0;
          margin: 0;
          margin-left: 0.75rem;
          align-self: center;
        }
      }
    }
  }
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30pt;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  font-size: 25pt;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* We can't style Iconify's icons using any kind of inheritance because
   it's icons are in the fucking shadow realm */
.footer-social-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.featuresTitle {
  display: flex;
  align-items: center;
}

#andMuchMore {
  width: 100%;
  > div div {
    width: 20vw;
    padding: 18px;
    margin: 1rem;
    background-color: #202020;
    outline: solid 4px #2a2a2a;
    border-radius: 10px;
    > h2 {
      margin: 0px;
    }
    > img {
      width: 50px;
      height: 50px;
    }
  }
}

.muchMore-flex {
  display: flex;
  flex-wrap: wrap;
}

.muchMore-flex div {
  list-style: none;
  flex: 0 0 27.8%;
}

#feature-offline {
  background-image: linear-gradient(to top, #151517, rgba(75, 61, 22, 0.5)),
    url('images/moreFeatures/kitsune.png');
  background-size: cover;
}

#feature-client-fix {
  background-image: linear-gradient(to top, #151517, rgba(22, 75, 31, 0.5)),
    url('images/moreFeatures/omnific.png');
  background-size: cover;
}

#feature-entity {
  background-image: linear-gradient(to top, #151517, rgba(22, 73, 75, 0.5)),
    url('images/moreFeatures/hammer.png');
  background-size: cover;
}

#feature-learn {
  background-image: linear-gradient(to top, #151517, rgba(68, 22, 75, 0.5)),
    url('images/moreFeatures/learn.png');
  background-size: cover;
}

#feature-store {
  background-image: linear-gradient(to top, #151517, rgba(75, 22, 22, 0.5)),
    url('images/moreFeatures/store.png');
  background-size: cover;
}

#feature-campaign {
  background-image: linear-gradient(to top, #151517, rgba(43, 75, 22, 0.5)),
    url('images/moreFeatures/campaign.png');
  background-size: cover;
}

.socialMediaLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 2rem 0;
  > div a:not(:last-child) {
    margin-right: 1rem;
  }
}
