:root {
	--blue: #1896d3;
	--dark-grey: #202020;
	--font-title: "Bebas Neue", sans-serif;
	--font-regular: "Roboto", sans-serif;
}

body {
	font-family: var(--font-regular);
	padding: 32px 0;
	width: 880px;
	margin: auto;
	color: #202020;
	font-weight: 400;
}

h1 {
	font-family: var(--font-title);
	font-size: 32pt;
	padding: 0;
	margin: 0;
	color: #202020;
}

h2 {
	font-size: 24pt;
	text-transform: uppercase;
}

h3 {
	font-size: 16pt;
}

a {
	color: var(--blue);
}

.text--center {
	text-align: center;
}

.text--light-grey {
	color: #888;
}

.font-display {
	font-size: 16pt;
	margin: 0;
}

.top-logo {
	width: 60%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.section {
	padding: 20px;
	border: 3px solid #202020;
	border-radius: 4px;
	margin-bottom: 18px;
}

.section__center-block {
	display: block;
	margin: 0 auto;
	width: 50%;
}

.flex-blocks {
	display: flex;
	gap: 8px;
}

.flex-blocks>* {
	display: flex;
	align-items: center;
	flex: 1 1 0;
	border-radius: 4px;
	justify-content: center;
	text-align: center;
	font-family: var(--font-title);
	font-size: 15pt;
	color: white;
	text-decoration: none;
}

.flex-blocks>span,
.flex-blocks>a {
	border: 3px solid var(--dark-grey);
	height: 48px;
}

.flex-blocks>img {
	/* Hack to stretch images*/
	max-width: 32%;
}

.block {
	align-items: center;
	width: 100%;
	height: 50px;
	margin: 0 4px;
	border-radius: 4px;
	font-family: var(--font-title);
	font-size: 15pt;
	border: 3px solid #202020;
	text-transform: uppercase;
	font-weight: 700;
}

.block--white {
	background-color: #ffffff;
	color: #202020;
}

.block--dark-gray {
	background-color: #202020;
	color: #ffffff;
}

.block--blue {
	background-color: #1896d3;
	color: #ffffff;
}

.block--light-gray {
	background-color: #4f4f4f;
	color: #ffffff;
}

.block--download {
	background-color: var(--blue);
	font-family: var(--font-regular);
	border: 3px solid #00000022 !important;
	font-size: 14pt;
	transition: filter 0.1s ease-in-out;
}

.block--download:hover {
	filter: brightness(1.05);
}

.block--image-bg {
	background-image: url(images/mom3DBG.jpg);
	background-size: cover;
	color: #202020;
}

@media only screen and (max-width: 811px) {
	body {
		width: auto;
		padding: 24px;
	}

	h1 {
		font-size: 24pt;
	}

	.top-logo { width: 80%; }

	.flex-blocks--images {
		display: block;
	}

	.flex-blocks--images>img {
		max-width: 80%;
		align-self: center;
		margin: 32px auto; 
	}
}