body {
font-family: 'Roboto', sans-serif;
padding: 18px 500px 18px 500px;
}


.logoTop {
width:1000px;
height:100%;
}

h1 {
font-family: 'Bebas Neue', cursive;
font-size: 32pt;
padding:0;
margin:0;
color: #202020;
}

h2 {
font-size: 24pt;
font-weight: 700;
text-transform: uppercase;
}

h3 {
font-size: 16pt;
font-weight: 700;
}

a {
color:#1896D3;
font-weight: 700;
}

.section {
padding:18px;
border: 3px solid #202020;
border-radius: 4px;
margin: 0 0 18px 0;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
width: 50%;
}

.textCenter {
text-align: center;
}

.lightGrey {
color: #888888;
}

.fontsColorsImage {
height: 100%;
width: 50%;
}

.fontDisplay {
font-size:16pt;
margin:0;
}

.downloadText {
font-size:14pt;
margin:0;
line-height: 22px;
font-family: 'Roboto', sans-serif;
font-weight: 900;
}

.mediaBreak {
display:none;
}

.flex-container {
display: flex;
flex-wrap: wrap;
width: 100%;
}

.flex-container img {
flex-basis: 33.33%;
max-width: 33.33%;
}



/* Palette */
.color-blocks {
display: flex;
justify-content: center;
}

.block {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 50px;
margin: 0 4px;
border-radius: 4px;
font-family: 'Bebas Neue', cursive;
font-size: 15pt;
border: 3px solid #202020;
}

.white {
background-color: #ffffff;
color: #202020;
text-transform: uppercase;
}

.dark-gray {
background-color: #202020;
color: #ffffff;
text-transform: uppercase;
}

.blue {
background-color: #1896D3;
color: #ffffff;
text-transform: uppercase;
}

.bgGrey {
background-color: #4f4f4f;
color: #ffffff;
text-transform: uppercase;
}

.threeD {
background-color: #1896D3;
background-image: url(images/mom3DBG.jpg);
background-size: cover;
color: #202020;
}

.downloadButton {
background-color: #1896D3;
background-size: cover;
color: #ffffff;
border: 3px solid #1083bd;
text-decoration: none;
}

.downloadButton:hover {
background-color: #107ab0;
background-size: cover;
color: #ffffff;
border: 3px solid #0b6b9b;
cursor: pointer;
}




@media only screen and (max-width: 1540px) {

    body {
    padding: 18px 100px;
    }

    .downloadButton {
    padding:4px;
    }

}




@media only screen and (max-width: 811px) {
    /* For mobile phones: */

    body {
    padding: 18px 18px 18px 18px;
    }

    h1 {
    font-size: 18pt;
    }

    h2 {
    font-size: 24pt;
    font-weight: 700;
    text-transform: uppercase;
    }

    .logoTop {
    width:300px;
    height:100%;
    }

    .fontDisplay {
    font-size:10pt;
    margin:0;
    }

    .mediaBreak {
    display:block;
    }

    .fontsColorsImage {
    height: 100%;
    width: 100%;
    }

    .flex-container img {
    flex-basis: 100%;
    max-width: 100%;
    }

}