<div class="inner">
  <div class="upper-region"></div>
  <div class="lower-region"></div>
  <span class="h-line" style="left: 20%"></span>
  <span class="h-line" style="left: 40%"></span>
  <span class="h-line" style="left: 60%"></span>
  <span class="h-line" style="left: 80%"></span>
  <span class="v-line" style="top: 25%"></span>
  <span class="v-line" style="top: 50%"></span>
  <span class="v-line" style="top: 75%"></span>

  <svg width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 100 100">
    <path class="line" fill="none" d="M 0 50 L 20 15 L 40 20 L 60 40 L 80 75 L 100 80"></path>
    <path class="shading" d="M 0 50 L 20 15 L 40 20 L 60 40 L 65.5 50 L 0 50"></path>
    <path class="shading" d="M 100 50 L 65.5 50 L 80 75 L 100 80"></path>
  </svg>

  <span
    class="point interactive"
    style="left: 20%; top: 15%"
    data-time="0:36.1"
    data-diff="+4.51"
    data-ahead="false"
  ></span>
  <span
    class="point interactive"
    style="left: 40%; top: 20%"
    data-time="1:09.9"
    data-diff="-0.92"
    data-ahead="false"
  ></span>
  <span
    class="point interactive"
    style="left: 60%; top: 40%"
    data-time="1:43.4"
    data-diff="-3.15"
    data-ahead="false"
  ></span>
  <span
    class="point interactive"
    style="left: 80%; top: 75%"
    data-time="1:58.5"
    data-diff="-4.10"
    data-ahead="true"
  ></span>
  <span
    class="point interactive"
    style="left: 100%; top: 80%"
    data-time="2:16.7"
    data-diff="-1.17"
    data-ahead="true"
  ></span>

  <div id="RunGraphPopover">
    <p>Time</p>
    <span id="Time"></span>
    <p>Diff</p>
    <span id="Difference"> </span>
  </div>
</div>
