<div class="row">
  <h1 class="rank">1</h1>
  <img class="avatar" src="/assets/images/avatars/natan.webp" />
  <p class="name">Natanxp2</p>
  <p class="time">1:01</p>
</div>

<div class="row">
  <h1 class="rank">2</h1>
  <img class="avatar" src="/assets/images/avatars/granis.webp" />
  <p class="name">granis</p>
  <p class="time">1:07</p>
</div>

<div class="row">
  <h1 class="rank">3</h1>
  <img class="avatar" src="/assets/images/avatars/rio.webp" />
  <p class="name">rio</p>
  <p class="time">1:14</p>
</div>

<div class="row">
  <h1 class="rank">4</h1>
  <img class="avatar" src="/assets/images/avatars/panzer.webp" />
  <p class="name">Panzer</p>
  <p class="time">1:16</p>
</div>

<div class="row">
  <h1 class="rank">5</h1>
  <img class="avatar" src="/assets/images/avatars/lumia.webp" />
  <p class="name">Lumia</p>
  <p class="time">1:17</p>
</div>

<div class="row">
  <h1 class="rank">6</h1>
  <img class="avatar" src="/assets/images/avatars/scell.webp" />
  <p class="name">SCell555</p>
  <p class="time">1:19</p>
</div>

<div class="row">
  <h1 class="rank">7</h1>
  <img class="avatar" src="/assets/images/avatars/mac.webp" />
  <p class="name">Mac</p>
  <p class="time">1:26</p>
</div>

<div class="row">
  <h1 class="rank">8</h1>
  <img class="avatar" src="/assets/images/avatars/blt.webp" />
  <p class="name">BLT</p>
  <p class="time">1:29</p>
</div>

<div class="row">
  <h1 class="rank">9</h1>
  <img class="avatar" src="/assets/images/avatars/brae.webp" />
  <p class="name">brae</p>
  <p class="time">1:34</p>
</div>
