<div id="MapSelectorFirstRow" class="row">
  <h1 class="name">surf_lt_omnific</h1>
  <h1 class="tier">Tier 6</h1>
  <button class="faves" type="button" onclick="MapSelector.toggleFavorite(0)" aria-label="Toggle favorite">
    <svg class="on" viewBox="0 0 24 24">[[ path mdi/star ]]</svg>
    <svg class="off" viewBox="0 0 24 24">[[ path mdi/star-outline ]]</svg>
  </button>
  <button class="download" onclick="MapSelector.fakeDownload(0)" aria-label="Download map">
    <svg class="download-icon" viewBox="0 0 24 24">[[ path mdi/download ]]</svg>
    <svg class="play-icon" viewBox="0 0 24 24">[[ path mdi/play-circle ]]</svg>
    <span class="progress"></span>
  </button>
</div>

<div class="row">
  <h1 class="name">rj_beef</h1>
  <h1 class="tier">Tier 2</h1>
  <button class="faves selected" type="button" onclick="MapSelector.toggleFavorite(1)" aria-label="Toggle favorite">
    <svg class="on" viewBox="0 0 24 24">[[ path mdi/star ]]</svg>
    <svg class="off" viewBox="0 0 24 24">[[ path mdi/star-outline ]]</svg>
  </button>
  <button class="download" onclick="MapSelector.fakeDownload(1)" aria-label="Download map">
    <svg class="download-icon" viewBox="0 0 24 24">[[ path mdi/download ]]</svg>
    <svg class="play-icon" viewBox="0 0 24 24">[[ path mdi/play-circle ]]</svg>
    <span class="progress"></span>
  </button>
</div>

<div class="row">
  <h1 class="name">bhop_eazy</h1>
  <h1 class="tier">Tier 1</h1>
  <button class="faves" type="button" onclick="MapSelector.toggleFavorite(2)" aria-label="Toggle favorite">
    <svg class="on" viewBox="0 0 24 24">[[ path mdi/star ]]</svg>
    <svg class="off" viewBox="0 0 24 24">[[ path mdi/star-outline ]]</svg>
  </button>
  <button class="download playable" onclick="MapSelector.fakeDownload(3)" aria-label="Download map">
    <svg class="download-icon" viewBox="0 0 24 24">[[ path mdi/download ]]</svg>
    <svg class="play-icon" viewBox="0 0 24 24">[[ path mdi/play-circle ]]</svg>
    <span class="progress"></span>
  </button>
</div>

<div class="row">
  <h1 class="name">surf_kitsune</h1>
  <h1 class="tier">Tier 2</h1>
  <button class="faves" type="button" onclick="MapSelector.toggleFavorite(3)" aria-label="Toggle favorite">
    <svg class="on" viewBox="0 0 24 24">[[ path mdi/star ]]</svg>
    <svg class="off" viewBox="0 0 24 24">[[ path mdi/star-outline ]]</svg>
  </button>
  <button class="download" onclick="MapSelector.fakeDownload(3)" aria-label="Download map">
    <svg class="download-icon" viewBox="0 0 24 24">[[ path mdi/download ]]</svg>
    <svg class="play-icon" viewBox="0 0 24 24">[[ path mdi/play-circle ]]</svg>
    <span class="progress"></span>
  </button>
</div>
