<div class="header">
  <h1 class="title">Gocnak's Lobby</h1>
  <h1 class="playercount">7</h1>
  <svg viewBox="0 0 24 24">[[ path mdi/account ]]</svg>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/gocnak.webp" />
  <p class="name">Gocnak</p>
  <p class="map">surf_utopia</p>
  <div class="button">
    <h1>Spectate</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/zopha.webp" />
  <p class="name">Zopha</p>
  <p class="map">surf_utopia</p>
  <div class="button">
    <h1>Spectate</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/tom.webp" />
  <p class="name">fingerprince</p>
  <p class="map">ahop_coast</p>
  <div class="button">
    <h1>Join</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/traz.webp" />
  <p class="name">TraZox</p>
  <p class="map">bhop_oldschool</p>
  <div class="button">
    <h1>Join</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/aux_your_name_breaks_ntfs.webp" />
  <p class="name">Aux</p>
  <p class="map">bhop_wip</p>
  <div class="button">
    <h1>Join</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/ethan.webp" />
  <p class="name">False_</p>
  <p class="map">sj_rapunzel</p>
  <div class="button">
    <h1>Join</h1>
  </div>
</div>

<div class="row">
  <img class="avatar" src="assets/images/avatars/happy.webp" />
  <p class="name">h4ppi</p>
  <p class="map">df_precision</p>
  <div class="button">
    <h1>Join</h1>
  </div>
</div>
