<meta
  name="description"
  content="Momentum Mod is a free, standalone game built on the Source Engine that aims to faithfully recreate, centralize, and improve upon the movement game modes found in Counter-Strike, Team Fortress, Half-Life 2, and Quake."
/>
<meta property="og:title" content="Momentum Mod" />
<meta property="og:url" content="https://momentum-mod.org/" />
<meta
  property="og:description"
  content="Momentum Mod is a free, standalone game built on the Source Engine that aims to faithfully recreate, centralize, and improve upon the movement game modes found in Counter-Strike, Team Fortress, Half-Life 2, and Quake."
/>
<meta property="og:image" content="https://momentum-mod.org/favicon.png" />
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "VideoGame",
    "name": [
      {
        "@language": "en",
        "@value": "Momentum Mod"
      }
    ],
    "description": [
      {
        "@language": "en",
        "@value": "Momentum Mod is a free, standalone game built on the Source Engine that aims to faithfully recreate, centralize, and improve upon the movement game modes found in Counter-Strike, Team Fortress, Half-Life 2, and Quake."
      }
    ],
    "genre": ["First-person platformer", "First-person shooter"],
    "playMode": ["SinglePlayer", "MultiPlayer"],
    "url": "https://momentum-mod.org/",
    "applicationCategory": "GameApplication",
    "gamePlatform": "PC",
    "operatingSystem": ["Windows", "Linux"],
    "offers": {
      "@type": "Offer",
      "price": "0"
    },
    "image": "https://momentum-mod.org/assets/images/boxart.webp",
    "screenshot": "https://momentum-mod.org/assets/images/screenshots/omnific.webp",
    "installUrl": "https://store.steampowered.com/app/669270/Momentum_Mod/",
    "sameAs": "https://momentum-mod.org/",
    "trailer": {
      "@type": "VideoObject",
      "url": "https://www.youtube.com/watch?v=RnTVMuZ5Fg8",
      "embedUrl": "https://www.youtube.com/embed/RnTVMuZ5Fg8",
      "thumbnailUrl": "https://img.youtube.com/vi/Cep1KZKznZo/maxresdefault.jpg",
      "uploadDate": "06/05/2019",
      "inLanguage": "en",
      "description": [
        {
          "@language": "en",
          "@value": "A brief introduction to Momentum Mod."
        }
      ],
      "name": [
        {
          "@language": "en",
          "@value": "What is Momentum Mod?"
        }
      ]
    }
  }
</script>
