@import 'modern-normalize/modern-normalize.css';

@import '../../styling/fonts/BebasNeue/400.css';
@import '../../styling/fonts/BebasNeue/700.css';

/* I'm not using these colours very religiously, we have so many different
   shades/variants going on with this site that set palettes are too restrictive. */
@import '../../styling/colors/colors-css-vars.css';

@import 'ui-chunks.css';

:root {
  --font-display: 'Bebas Neue Momentum', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: rgb(var(--gray-900));
  color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

header {
  width: 100%;
  height: calc(min(100vh, 56rem));
  display: grid;
  place-items: center;
  position: relative;

  /* TODO https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images */
  background-image: url('/assets/images/BGLight.webp');
  background-size: cover;

  /* TODO: probably kill */
  > video {
    position: absolute;
    background-size: cover;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    min-width: 100vw;
  }

  .hero {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem; /* Weird margin but handles resizing best */
    width: 100%;

    .logo {
      width: 48rem;
    }

    .subheading {
      margin-top: 1.5rem;
      line-height: 1;

      font-size: 2.5rem;
      font-weight: 700;
      font-family: var(--font-display);

      -webkit-text-stroke: 9px rgb(var(--gray-700));
      paint-order: stroke fill;
    }

    .steam {
      margin-top: 2rem;
      width: 52rem;
    }

    .buttons {
      margin-top: 2rem;
      display: flex;
      gap: 1rem;

      a {
        padding: 0.5rem 1.25rem;
        position: relative;

        font-family: var(--font-display);
        font-weight: 700;
        font-size: 2.375rem;

        border: 1px solid rgba(255 255 255 / 0.05);
        border-radius: 0.25rem;
        background-origin: border-box !important;
        backdrop-filter: blur(8px);
        box-shadow:
          0 1px 1px rgb(0 0 0 / 0.5),
          0 4px 12px rgb(0 0 0 / 0.5);

        transition-property: box-shadow, border;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;

        > p {
          background: white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(0 1px 2px rgba(0 0 0 / 0.25));
        }

        &.dashboard {
          background: linear-gradient(
            150deg,
            rgba(31, 68, 255, 0.75),
            rgba(255, 32, 44, 0.75)
          );
        }

        &.discord {
          background: rgb(88 101 242 / 0.75);
        }

        &::after {
          content: '';
          position: absolute;
          transition: background-color 0.1s ease-in-out;
          background-color: rgb(0 0 0 / 0);
          height: 100%;
          border-radius: 0.25rem;
          width: 100%;
          top: 0;
          left: 0;
        }

        &:hover {
          border: 1px solid rgba(255 255 255 / 0.1);

          &::after {
            background-color: rgb(255 255 255 / 0.15);
          }
        }
      }
    }
  }

  &::after {
    width: 100%;
    height: 15%;
    mix-blend-mode: multiply;
    bottom: 0;
    left: 0;
    position: absolute;

    content: '';
    background: linear-gradient(transparent, rgb(24 105 211 / 0.5));
    border-bottom: 1px solid rgb(33, 33, 33);
  }

  @media (max-width: 1024px) {
    height: 100vh;

    .hero {
      .logo {
        width: 100%;
      }

      .subheading {
        text-align: center;
        font-size: 3rem;
        -webkit-text-stroke: 12px rgb(var(--gray-700));
      }
      
      .buttons {
        flex-direction: column;
        width: 100%;
      }
      
      .steam {
        margin-top: 2rem;
        width: 75%;
      }
    }
  }
}

main {
  .section-wrapper {
    width: 100%;

    section {
      margin: 0 auto;
      max-width: 80rem; /* 1280px */

      @media (max-width: 1024px) {
        padding-inline: 2rem;
      }
    }

    &:nth-child(1) {
      position: relative;
      border-top: 1px solid rgb(255 255 255 / 0.15);
      border-bottom: 1px solid rgb(0 0 0 / 0.5);
      background: linear-gradient(135deg, #252530, #14151e);

      &::after,
      &::before {
        content: '';
        position: absolute;
        height: 4rem;
        width: 100%;
        left: 0;
      }

      &::before {
        top: 0;
        background: linear-gradient(to bottom, rgba(0 0 0 / 0.2), transparent);
      }

      &::after {
        bottom: 0;
        background: linear-gradient(to top, rgba(23 46 60 / 0.3), transparent);
      }

      .fancy-border {
        position: absolute;
        width: 100%;
        height: 8rem;
        bottom: 0;
        left: 0;
        background: radial-gradient(
          40% 100% at 50% 100%,
          rgb(27, 33, 56),
          transparent
        );
      }
    }

    &:nth-child(2) {
      position: relative;

      & > .background {
        /*filter: saturate(0);*/
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        /* Adds parallax effect - not sure if I like it */
        position: fixed;
        filter: grayscale(1) invert(1) brightness(0.5) contrast(0.2);
        background-image: url('/assets/images/BGLight.webp');
      }

      & > .background-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        content: '';
        /*background: linear-gradient(rgba(0, 44, 255, 0.9), transparent),*/
        /*  linear-gradient(to top left, rgba(17, 0, 255, 0.9), transparent),*/
        /*  linear-gradient(to top right, rgba(0, 178, 255, 0.9), transparent);*/
        background: linear-gradient(rgba(var(--blue-400)), transparent),
          linear-gradient(to top left, rgb(50 10 92), transparent),
          linear-gradient(to top right, rgb(106 146 195), transparent);
        opacity: 0.5;
        mix-blend-mode: hard-light;
        background-blend-mode: overlay;
        z-index: -2;
      }

      .fancy-border-top {
        width: 100%;
        position: absolute;
        height: 4rem;
        top: 0;
        left: 0;
        background: radial-gradient(
          50% 100% at 50% 0%,
          rgba(79, 79, 157, 0.25),
          transparent
        );

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: linear-gradient(
            to right,
            rgb(255 255 255 / 0.1),
            rgb(255 255 255 / 0.5),
            rgb(255 255 255 / 0.1)
          );
        }
      }

      .fancy-border-bottom {
        width: 100%;
        position: absolute;
        height: 4rem;
        bottom: 0;
        left: 0;
        background: radial-gradient(
          50% 100% at 50% 100%,
          rgba(46, 90, 201, 0.25),
          transparent
        );

        &::before {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: linear-gradient(
            to right,
            rgb(255 255 255 / 0.15),
            rgb(255 255 255 / 0.3),
            rgb(255 255 255 / 0.15)
          );
        }
      }
    }
  }
}

section#WhatIsMomentum {
  margin-top: 3.5rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  > .description {
    flex: 1 1 60%;

    h1 {
      margin-top: -0.5rem;

      font-weight: 700;
      font-size: 4rem;
      background: linear-gradient(185deg, #9ee0ff, #0094ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.5));
    }

    p {
      color: #eee;
    }

    p + p {
      margin-top: 1rem;
    }
  }

  > iframe {
    flex: 1 0 33%;
    aspect-ratio: 16 / 9;
    height: fit-content;
  }

  @media (max-width: 1024px) {
    /*flex-direction: column;*/
  }
}

section#Gamemodes {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;

  > h1 {
    font-size: 3.25rem;
    font-weight: 700;

    background: linear-gradient(175deg, #ffffff, #e0e0e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.5));
  }

  .selection {
    position: relative;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > button {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 0;

      background-origin: border-box !important;
      border: none;
      background: none;

      position: relative;

      &::after {
        z-index: 0;
        content: '';
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: rgb(255 255 255 /0.5);
      }

      &,
      & > img,
      & > h1 {
        transition: all 0.1s ease-out;
      }

      > img {
        margin-inline: 2rem;
        width: 4rem;
        height: 4rem;
        opacity: 0.5;
      }

      > h1 {
        margin-inline: 2rem;
        opacity: 0.75;
        color: white;
        font-weight: 400;
        line-height: 1;
        font-size: 1.625rem;
        padding-bottom: 0.75rem;
      }

      &:hover {
        > img {
          opacity: 0.9;
        }

        > h1 {
          opacity: 0.9;
        }
      }

      &.selected {
        filter: drop-shadow(0 0 2px rgb(255 255 255 / 0.175))
          drop-shadow(0 0 8px #00223d);

        > img {
          opacity: 1;
        }

        > h1 {
          opacity: 1;
        }
      }
    }

    > #TimeBar {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0; /* Controlled by JS */
      height: 0.1875rem;
      z-index: 1000;
      background: rgb(255 255 255 / 1);
      box-shadow: 0 0 4px rgb(0 0 0 / 0.25);
      transition-property: left, width;
      transition-timing-function: cubic-bezier(0.25, 0.65, 0.6, 1);
      transition-duration: 0s; /* Controlled by JS */
      background-origin: border-box !important;
      filter: drop-shadow(0 0 2px rgb(255 255 255 / 0.25));

      > span {
        display: block;
        height: 100%;
        width: 0;
        background-color: #41bcff;
        transition-property: width;
        transition-timing-function: linear;
        /* Controlled by JS */
        transition-duration: 0s;
        transition-delay: 0s;
      }
    }

    &:before,
    &:after {
      content: '';
      display: block;
      height: 1px;
      margin-top: auto;
      flex-grow: 1;
    }

    &:before {
      background: linear-gradient(
        to right,
        transparent,
        rgb(255 255 255 / 0.5)
      );
    }

    &:after {
      background: linear-gradient(to left, transparent, rgb(255 255 255 / 0.5));
    }
  }

  .gamemodes {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;

    .gamemode {
      gap: 2rem;
      display: none;

      &.selected {
        display: flex;
      }
      
      > video {
        flex: 1 0 auto;
        max-width: 540px;
        aspect-ratio: 16 / 9;
        box-shadow: 0 0 0.75rem rgb(0 0 0 / 0.275);
        border-radius: 0.25rem;
      }

      > .details {
        flex: 1 1 0;
        margin-block: auto;

        h1 {
          width: fit-content;
          font-weight: 700;
          font-size: 4rem;
          margin-top: -0.25rem;
          background: linear-gradient(175deg, #eeeeff, #c9ccd2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(0 0 8px rgb(0 0 0 / 0.5));
        }

        p {
          margin-top: 0.375rem;
          line-height: 1.75rem;
          text-shadow: 0 1px 0 rgb(0 0 0 / 0.5);

          + p {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

section#Features {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  --grid-gap: 1rem;
  gap: var(--grid-gap);

  > .header {
    display: flex;
    margin-top: 3rem;
    margin-bottom: calc(2rem - var(--grid-gap));

    h1 {
      font-size: 4.5rem;
      font-weight: 700;

      background: linear-gradient(to bottom, #ffffff, #dcefff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
        drop-shadow(0 2px 2px rgba(0, 32, 77, 0.25))
        drop-shadow(0 3px 6px rgba(214, 230, 255, 0.125));
    }

    &::before,
    &::after {
      flex: 1 1 0;
      height: 1px;
      opacity: 0.5;
      margin: auto;
      content: '';
      filter: drop-shadow(0 1px 1px rgba(0, 10, 26, 0.5))
        drop-shadow(0 1px 8px rgba(214, 230, 255, 0.25));
      /*box-shadow: 0 0 4px rgb(0 0 0 / 0.5);*/
    }

    &::before {
      background: linear-gradient(
        to right,
        transparent 0%,
        rgb(255 255 255 / 1) 50%,
        rgb(255 255 255 / 1) 100%
      );
      margin-right: 1rem;
      margin-left: 15%;
    }

    &::after {
      background: linear-gradient(
        to left,
        transparent 0%,
        rgb(255 255 255 / 1) 50%,
        rgb(255 255 255 / 1) 100%
      );
      margin-left: 1rem;
      margin-right: 15%;
    }
  }

  > .bento {
    flex: 1 1 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.75rem;
    width: 100%;

    @media (max-width: 1024px) {
      * {
        grid-column: 1 / -1 !important;
      }
    }

    .scroll-wrapper {
      position: relative;
      overflow: hidden;

      box-shadow: 0 1px 3px rgb(0 0 0 / 0.125);

      > * {
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 0;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    > .bento-item {
      padding: 0.25rem;
      border-radius: 0.25rem;
      border: 1px solid rgb(255 255 255 / 0.125);
      backdrop-filter: blur(0.75rem);
      background-color: rgba(157, 219, 255, 0.0675);
      box-shadow:
        0 1px 0.5rem rgb(0 0 0 / 0.2),
        inset 0 -2.5rem 5rem -2rem rgb(255 255 255 / 0.15);
      transition: all ease-out 0.15s;

      &:hover {
        background-color: rgba(157, 219, 255, 0.1);
        box-shadow:
          0 1px 0.75rem rgb(0 0 0 / 0.25),
          inset 0 -2.5rem 5rem -2rem rgb(255 255 255 / 0.15);
      }

      .details {
        padding: 1.75rem;

        h1 {
          text-wrap: nowrap;
          margin-bottom: 0.5rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1;
          background: linear-gradient(to bottom, #ffffff, #dcefff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          filter: drop-shadow(0 1px 1px rgba(0, 10, 26, 0.5))
            drop-shadow(0 3px 6px rgba(214, 230, 255, 0.125));
        }

        p {
          text-shadow: 0 1px 0 rgb(0 0 0 / 0.5);
          padding-left: 0;
          line-height: 1.75rem;
          color: white;
        }

        p ~ p {
          margin-top: 0.25rem;
        }
      }
    }
  }

  .leaderboards {
    grid-column: span 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
    gap: 0.5rem 0;

    > .details {
      grid-row: 1 / span 2;
      margin-block: auto;
    }

    @media (max-width: 1024px) {
      /* TODO*/
    }
  }

  .map-selector {
    grid-column-end: -1;
    display: grid;
    grid-template-rows: 1fr auto;

    .scroll-wrapper {
      height: 9rem;
    }
  }

  .levels {
    grid-column: 1 / 1;

    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;

    .details {
      margin-block: auto;
      grid-column: span 2;
    }
  }

  .multiplayer {
    grid-column: 2 / -1;

    display: grid;
    grid-template-columns: 3fr 5fr;

    .details {
      margin-block: auto;
    }
  }
}

footer {
  background: linear-gradient(to bottom, #161616, #0e0e0e);
  border-top: 1px solid #000;
  padding-block: 2rem;
  position: relative;

  > .links {
    margin: auto;
    max-width: 840px;
    color: #eee;
    display: flex;
    justify-content: space-around;

    > div {
      display: flex;
      flex-direction: column;
      gap: 0.675rem;

      > p {
        font-size: 1rem;
        font-weight: 500;
        color: rgb(var(--gray-300));
      }

      > a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: rgb(var(--gray-100));
        transition: color ease-out 0.05s;

        &:hover {
          color: white;
        }

        > svg {
          width: 1rem;
          height: 1rem;
          color: inherit;
        }

        > p {
          padding: 0;
          line-height: 1;
        }
      }
    }
  }

  > .copyright {
    margin-top: 1rem;
    margin-inline: auto;
    width: fit-content;
    font-size: 0.875rem;
    color: rgb(var(--gray-300));

    > a {
      color: rgb(var(--gray-200));
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  margin: 0;
  font-weight: 400;
}

button {
  padding: 0;
  margin: 0;
  border: none;
}

p {
  margin: 0;

  > a {
    color: rgb(var(--blue-200));
    transition-property: color, filter;
    transition-timing-function: ease-out;
    transition-duration: 0.1s;

    &:hover {
      color: rgb(var(--blue-300));
    }

    text-decoration: inherit;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

iframe {
  border: none;
}
