.ui-chunk {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  cursor: default;
  background: rgb(255 255 255 / 0.1);
  border: 1px solid rgb(255 255 255 / 0.05);
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.125);

  /*backdrop-filter: blur(1rem);*/
  border-radius: 0.25rem;

  .row {
    display: flex;
    align-items: center;
    padding: 0.25rem;

    border-radius: 0.25rem;
    border: 1px solid rgb(255 255 255 / 0.05);
    background-color: rgb(255 255 255 / 0.1);
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);

    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: rgb(255 255 255 / 0.2);
    }
  }

  p,
  h1 {
    font-weight: 400;
    text-shadow: 0 1px 3px rgb(0 0 0 / 0.375);
    color: rgb(var(--gray-50));
  }

  button {
    display: grid;
    place-items: center;
    border-radius: 0.25rem;

    background-color: rgb(200 200 200 / 0.5);
    box-shadow:
      0 1px 1px rgb(0 0 0 / 0.2),
      1px 1px 3px rgb(0 0 0 / 0.125);
    transition: background-color 0.15s ease-out;

    &:hover {
      background-color: rgb(255 255 255 / 0.5);
    }

    svg {
      filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.2));
    }
  }
}

#Lobby.ui-chunk {
  gap: 0.25rem;

  > .header {
    margin-top: -0.125rem;
    padding: 0 0.125rem 0.0625rem;
    display: flex;
    align-items: center;

    > * {
      font-size: 1.25rem;
    }

    > .playercount {
      margin-left: auto;
    }

    > svg {
      height: 1.3125rem;
      width: 1.3125rem;
      margin-left: 1px;
    }
  }

  > .row {
    font-size: 0.875rem;

    > .avatar {
      flex: 0 0 auto;
      width: 1.5rem;
      border-radius: 3px;
      height: 1.5rem;
    }

    > .name {
      flex: 1 0 25%;
      margin-left: 0.5rem;
      min-width: 5rem;
    }

    > .map {
      flex: 1 0 25%;
      min-width: 8rem;
      text-align: center;
    }

    > .button {
      width: 4rem;
      align-self: stretch;
      margin-left: auto;

      > h1 {
        display: flex;
        align-items: center;
        width: min-content;
        height: 100%;
        margin: auto;
        text-align: center;
        border-radius: 0.25rem;
        font-size: 1.125rem;
        box-shadow:
          0 1px 1px rgb(0 0 0 / 0.3),
          1px 1px 3px rgb(0 0 0 / 0.25);
        background-color: rgb(200 200 200 / 0.5);
        transition: background-color 0.15s ease-out;
        padding-inline: 0.375rem;

        &:hover {
          background-color: rgb(128 128 128 / 0.5);
        }
      }
    }
  }
}

#MapSelector.ui-chunk {
  gap: 0.25rem;

  > .row {
    padding-left: 0.625rem;
    gap: 0.25rem;

    > .name,
    > .tier {
      font-size: 1.25rem;
    }

    > .name {
      flex: 3 0 0;
    }

    > .tier {
      flex: 2 0 0;
      color: rgb(var(--gray-200));
    }

    > button {
      flex: 0 0 1.875rem;

      > svg {
        margin: auto;
        height: 1.875rem;
        padding: 0.1825rem;
        color: white;
        grid-row: 1;
        grid-column: 1;
        transition: opacity 0.1s ease-in-out;
      }

      &.faves {
        > svg.off {
          opacity: 1;
        }

        > svg.on {
          filter: none;
          opacity: 0;
        }

        &.selected {
          background: linear-gradient(
            rgb(var(--yellow-500)),
            rgb(var(--yellow-600))
          );

          > svg.off {
            filter: none;
            opacity: 0;
          }

          > svg.on {
            opacity: 1;
          }
        }
      }

      &.download {
        overflow: hidden;

        > * {
          transition: opacity 0.1s ease-in-out;
        }

        > .download-icon {
          opacity: 1;
        }

        > .play-icon,
        > .progress {
          opacity: 0;
        }

        > .progress {
          opacity: 0;
          overflow: hidden;
          width: 0;
          height: 100%;
          transition-property: width;
          transition-timing-function: linear;
          margin-right: auto;
          grid-row: 1;
          grid-column: 1;
          background: linear-gradient(
            90deg,
            rgb(var(--blue-500)),
            rgb(var(--blue-300))
          );
        }

        &.downloading {
          > .progress {
            opacity: 1;
            width: 100%;
          }

          > .download-icon,
          > .play-icon {
            opacity: 0;
          }
        }

        &.playable {
          background: linear-gradient(
            rgb(var(--green-400)),
            rgb(var(--green-500))
          );

          &:hover {
            opacity: 0.9;
          }

          > .play-icon {
            opacity: 1;
          }

          > .download-icon,
          > .progress {
            opacity: 0;
          }
        }
      }
    }
  }
}

#Leaderboard.ui-chunk {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  > .row {
    font-size: 0.875rem;
    padding-inline: 0.5675rem;

    > .rank {
      font-weight: 400;
    }

    > .avatar {
      flex: 0 0 auto;
      width: 1.5rem;
      border-radius: 3px;
      height: 1.5rem;
      margin-left: 1rem;
    }

    > .name {
      margin-left: 0.5rem;
    }

    > .time {
      margin-left: auto;
      font-weight: 700;
    }
  }
}

#Graph.ui-chunk {
  display: block;

  > .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgb(255 255 255 / 0.1);

    > * {
      position: absolute;
    }

    > .upper-region {
      height: 50%;
      width: 100%;
      top: 0;
      background: linear-gradient(to bottom, #784e5e, #723e4a);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    & > .lower-region {
      height: 50%;
      width: 100%;
      bottom: 0;
      background: linear-gradient(to bottom, #55656e, #3f5360);
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    > .h-line {
      width: 1px;
      height: 100%;
      background-color: rgb(255 255 255 / 0.1);
    }

    > .v-line {
      width: 100%;
      height: 1px;
      background-color: rgb(255 255 255 / 0.1);
    }

    > svg {
      width: 100%;
      height: 100%;

      > .line {
        stroke-width: 0.5px;
        stroke: rgb(197 197 197);
        fill: none;
      }

      > .shading {
        stroke: none;
        fill: rgb(255 255 255 / 0.2);
      }
    }

    > .point {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      transform: translate(-50%, -50%);

      &::after {
        content: '';
        width: 0.75rem;
        height: 0.75rem;
        background-color: rgb(238, 238, 238);
        box-shadow: 0 0 8px rgb(0 0 0 / 0.2);
        border-radius: 100%;

        transition: all ease-out 0.1s;
      }

      &:hover::after {
        background-color: rgb(255, 255, 255);
        box-shadow:
          0 0 2px rgb(0 0 0 / 0.5),
          0 0 8px rgb(152, 240, 255);
      }
    }

    > div#RunGraphPopover,[popover] {
      display: none;
      align-items: center;
      gap: 0 0.5rem;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      opacity: 0;
      pointer-events: none;
      z-index: 100;
      border-radius: 0.25rem;
      background-color: rgb(var(--gray-800));
      padding: 0.375rem 0.75rem;
      font-size: 1rem;

      flex-direction: column;
      transition-property: opacity, display;
      transition-duration: 0.1s;
      transition-timing-function: ease-out;
      transition-behavior: allow-discrete;

      &.visible {
        display: grid;
        opacity: 1;
      }

      > p {
        color: rgb(var(--gray-200));
        font-weight: 700;
        font-size: 0.875rem;
        text-transform: uppercase;
      }

      > span {
        font-weight: 700;
      }

      > #Difference {
        color: rgb(var(--red-400));

        &.ahead {
          color: rgb(var(--blue-400));
        }
      }
    }
  }
}

#Levels.ui-chunk {
  .top {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .level-indicator {
    height: min-content;
    padding: 0.25rem 0.375rem;
    grid-column: 1;
    grid-row: 1;

    border: 1px solid rgb(255 255 255 / 0.1725);
    box-shadow: 0 0 4px rgb(0 0 0 / 0.2);
    border-radius: 0.25rem;
    transition-property: filter, opacity;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: ease-out;

    &.before {
      opacity: 1;
      filter: blur(0px);
      background-color: rgb(var(--levels-8));
    }

    &.after {
      opacity: 0;
      background-color: rgb(var(--levels-9));
    }

    > h1 {
      font-weight: 700;
    }
  }

  .change {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;

    .status {
      color: rgb(var(--gray-200));
      font-size: 0.875rem;
    }

    .gain {
      font-weight: 700;
      font-size: 1.25rem;
      background: linear-gradient(135deg, #d0ff89, #9bff40);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: none;
      filter: drop-shadow(0 1px 1px rgba(10, 40, 0, 0.5));
    }
  }

  .prog {
    margin-top: 0.5rem;
    height: 1.5rem;
    border-radius: 0.1875rem;
    box-shadow: 0 0 4px rgb(0 0 0 / 0.2);
    background-color: rgb(255 255 255 / 0.1);

    > span {
      display: block;
      width: 60%;
      height: 100%;

      background: linear-gradient(
        to left,
        rgb(var(--blue-400)),
        rgb(var(--blue-500))
      );
      border: 1px solid rgb(255 255 255 / 0.1);
      border-radius: 0.1875rem;
      background-origin: border-box !important;
      box-shadow: 0 0 4px rgb(var(--blue-800) / 0.2);

      transition: width 0.5s ease-out;
    }
  }

  &:hover {
    .prog > span {
      animation: LevelUpProgressBar 1.5s linear forwards;
    }

    .level-indicator {
      transition-duration: 0.5s;
      transition-delay: 0.75s;

      &.before {
        filter: blur(16px);
        opacity: 0;
      }
      &.after {
        opacity: 1;
      }
    }
  }
}

@keyframes LevelUpProgressBar {
  0% {
    animation-timing-function: ease-in;
    width: 60%;
  }

  50% {
    animation-timing-function: linear;
    width: 100%;
  }

  50.1% {
    animation-timing-function: ease-out;
    width: 0;
  }

  100% {
    width: 40%;
  }
}

#Replay.ui-chunk {
  > .header {
    display: flex;
    gap: 0.5rem;

    & > svg {
      width: 1.375rem;
      height: 1.375rem;
    }

    & > h1 {
      margin: -0.125rem 0;
    }
  }

  > .time-and-ticks {
    margin-top: 0.25rem;
    display: flex;

    h2 {
      margin-bottom: -0.125rem;
      font-size: 1rem;
      color: rgb(var(--gray-200));
    }

    h1 {
      font-size: 1.375rem;
    }

    > .ticks {
      align-self: self-end;
      margin-left: auto;
      display: block;
      text-align: right;
    }
  }

  > .progress {
    margin-top: 0.25rem;
    height: 2rem;
    position: relative;

    /** Tips for styling this bullshit: https://css-tricks.com/sliding-nightmare-understanding-range-input/ */
    input[type='range'] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;

      position: absolute;
      z-index: 1;
      width: 100%;

      &:focus,
      &:hover {
        outline: none;

        &::-webkit-slider-thumb {
          box-shadow: 0 0 3px rgb(0 0 0 / 0.75);
          background-color: white;
        }
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -4px;
        background-color: rgb(var(--gray-100));
        border-radius: 50%;
        box-shadow: 0 0 3px rgb(0 0 0 / 0.5);
        height: 1rem;
        width: 1rem;
        transition: all ease-in-out 0.1s;
      }

      &::-moz-range-thumb {
        border: none;
        -webkit-appearance: none;
        appearance: none;
        transform: translateY(-0.375rem);
        background-color: rgb(var(--gray-100));
        border-radius: 50%;
        box-shadow: 0 0 3px rgb(0 0 0 / 0.5);
        height: 1rem;
        width: 1rem;
        transition: all ease-in-out 0.1s;
      }

      &:focus,
      &:hover {
        &::-moz-range-thumb {
          box-shadow: 0 0 3px rgb(0 0 0 / 0.75);
          background-color: white;
        }
      }
    }

    .segments {
      display: flex;
      height: 0.5rem;
      align-items: self-end;

      div {
        flex-shrink: 1;
        position: relative;
        border-radius: 0.125rem;
        background-color: #304956;
        box-shadow: 0 1px 2px rgb(0 0 0 / 0.25);
        height: 0.375rem;
        transition: height 0.1s ease-out;
        margin-inline: 1px;

        &.current {
          height: 0.5rem;
        }

        > span {
          display: block;
          border-radius: 0.125rem;

          height: 100%;
          background-color: rgb(var(--blue-500));
          .current > & {
            background: linear-gradient(
              90deg,
              rgb(var(--blue-500)),
              rgb(var(--blue-300))
            );
          }
        }

        > p {
          position: absolute;
          bottom: -1.25rem;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.75rem;
          color: rgb(var(--gray-100));
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 0.25rem;

    > button {
      display: flex;
      place-items: center;

      &.toggle {
        display: grid;
        margin-inline: auto;
        flex-grow: 1;

        > .play,
        > .pause {
          grid-row: 1;
          grid-column: 1;
          transition: opacity 0.1s ease-out;
        }

        > .pause {
          opacity: 0;
        }

        &.playing {
          opacity: 1;
          background: linear-gradient(
            90deg,
            rgb(var(--blue-500)),
            rgb(var(--blue-300))
          );
        }
      }

      > svg {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.125rem;
        color: rgb(var(--gray-50));
      }
    }
  }
}
